@import 'css/variables';
@import 'css/jango_variables';

/* Générale */
body {
	font-family: Arial;
	color: #4f4f4f;
}

h1,
h2 {
	font-weight: bold;
}

h1 {
	color: $couleur_principale;
	font-size: 32px;
}

h2::before {
	content: url(images/cnde-logo-blocs-couleur-38_25.png);
}
.h2 {
	padding-left: 45px;
	text-align:center;
	overflow: hidden;
	text-transform: uppercase;
}

.c-layout-sidebar-content .spip_logo {
	margin-bottom: 30px;
}

.c-layout-header.c-layout-header-6 {
	/*Top bar */
	.c-topbar {
		padding: 0;

		// Brand
		.c-brand {
			> .c-logo::after {
				display: none;
			}
		}
	}
	// Main navigation
	.c-navbar {
		background-color: $fuchsia;
		.c-theme-nav li.c-active > a:not(.btn) {
			color: #ffffff!important;
		}
		.c-menu-type-classic {
			background-color: #F5F5F5;
		}
		.c-mega-menu {
			> .nav.navbar-nav {
				> li {
					> .c-quick-sidebar-toggler {
						padding-top: 33px;
						> .c-line {
							width: 22px;
							height: 3px;
							margin: 4px 0;
							margin-top: 4px;
						}
						> .c-line:first-child {
							margin-top: 0;
						}
					}
					.c-btn-icon {
						margin-top: 0;
						padding-top: 29px;
						> i {
							font-size: 24px;
						}
					}
					> .c-link {
						background-color: $fuchsia;
						font-size: 18px;
						padding: 29px 25px 29px 25px;
						min-height: 78px;
					}
				}
				> li.c-active {
					> .c-link {
						padding-bottom: 20px;
						margin-bottom: 9px;
						min-height: 69px;
					}
				}
			}
		}
	}
}

/* Breadcrumbs */
.c-layout-breadcrumbs-1 .c-page-breadcrumbs > li, .c-layout-breadcrumbs-1 .c-page-breadcrumbs > li > a {
	font-weight: bold;
	color: #000000;
}

/* Footer */
.c-layout-footer.c-layout-footer-3 {
	.c-prefooter {
		.c-content-title-1 > h3 {
			font-size: 14px;
			color: #a3a3a3;
		}
		.c-container {
			.c-links > li {
				padding: 0;
				border-bottom: none;
				> a{
					color: #ffffff;
					font-size:13px;
					line-height: 16px;
				}
			}
			.c-address {
				color: #ffffff;
				font-size:13px;
				line-height: 16px;
			}
		}
	}
	.c-postfooter {
		background:#ffffff ;
		.c-divider {
			color: #afa3a3;
			margin: 0 6px;
		}
	}
}

.c-layout-footer a {
	color: #afa3a3;
}

/* Menus sousrubriques */
.c-layout-sidebar-content .menu {
	.d-xs-flex, .d-sm-flex, .d-md-flex, .d-lg-flex {
		margin: 0 -15px;
	}
}

.c-btn-fuchsia {
	border-color: $fuchsia;
	border-width: 1px;
	color: #ffffff;
	background: $fuchsia;
}

.c-btn-fuchsia.btn-no-focus:hover,
.c-btn-fuchsia:hover,
.c-btn-fuchsia.btn-no-focus:active,
.c-btn-fuchsia:active,
.c-btn-fuchsia.active,
.open > .c-btn-fuchsia.dropdown-toggle {
	color: #ffffff;
	background: $fuchsia_darker;
	border-color: $fuchsia_darker;
}

/* Rubrique Home */
.rubrique_home {
	.c-layout-sidebar-content {
		header, .main {
			text-align: center;
		}
	}
}

@media (min-width: $screen-lg-min) {
	/* Rubrique Home */
	.rubrique_home {
		.c-layout-sidebar-content {
			header, .main {
				width: 70%;
				margin: 0 auto;
			}
		}
	}
}

@media (min-width: $screen-md-min+1) {
	.c-layout-header-fixed.c-layout-header-6-topbar .c-layout-page{
		margin-top: 263px;
	}

	.rubrique_home .c-layout-header-fixed.c-layout-header-6-topbar .c-layout-page{
		margin-top: 0;
	}

	body:not(.c-page-on-scroll) #slider_activites	{
		margin-top: 253px;
	}
	.c-layout-header.c-layout-header-6 {
		/*Top bar */
		.c-topbar {
			.container {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.c-top-menu.c-pull-right {
				float:none;
			}
			.c-top-menu {
				float:none;
				margin: 0;
			}
			.c-brand {
				margin: 0 calc(100% - 466px) 0 0px;
				padding: 0;
			}
		}
	}
}

